<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>RL WebStats - History</title>
    <link rel="shortcut icon" href="#">
    
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/styles.css">
    
    <link rel="stylesheet" href="/CSS/history/content.css">
    <link rel="stylesheet" href="/CSS/history/preview.css">
    <link rel="stylesheet" href="/CSS/history/table.css">
</head>

<body>
    <!-- Affichage du header-->
    <%- include('layout/header.ejs', {refreshed_time: refreshed_time}) %>

    <main>
        <!-- Include de la sidebar -->
        <%- include('layout/sidebar.ejs') %>

        <!-- Affichage de la section droite (pour voir l'historique des matchs) -->
        <section class="right-bar block" id="sectionMatches">
            <% if (matches.length===0) { %>
                <p>No match found.</p>
            <% } else { %>
                <% matches.forEach(match => { %>
                    <div class="match-background">
                        <%- include('history/headerBox', { match: match }) %>
                        <%- include('history/matchBox', { match: match }) %>
                    </div>
                <% }) %>
            <% } %>
        </section>
    </main>

</body>
<script src="client.js"></script>
<script src="updateDatas.js"></script>
</html>