<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>RL Game History</title>
    <link rel="shortcut icon" href="#">
    
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/table.css">

    <link rel="stylesheet" href="/CSS/history/preview.css">
    <link rel="stylesheet" href="/CSS/history/content.css">
    <link rel="stylesheet" href="/CSS/history.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
</head>

<body>
    <!-- Display the header-->
    <header>
        <h1>Rocket League History</h1>
    </header>

    <!-- Display flex for positionning the sidebar (left) and main content (right) -->
    <main> 
        <%- include('layout/sidebar.ejs') %>


        <section class="right-bar match-history-content">
            <% if (matches.length===0) { %>
                <p>No match found.</p>
            <% } else { %>
                <% matches.forEach(match=> { %>
                    <div class="match-background">
                        <%- include('history/headerBox', { match: match }) %>
                        <%- include('history/matchBox', { match: match }) %>
                    </div>
                <% }) %>
            <% } %>
        </section>
    </main>

</body>

<script src="client.js"></script>

</html>