<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>RL WebStats - Player</title>
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/table.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/player/player.css">
</head>

<body>
    <!-- Affichage du header-->
    <header>
        <h1>Rocket League History</h1>
    </header>

    <main>
        <!-- Include de la sidebar -->
        <%- include('layout/sidebar.ejs') %>


        <!-- Include des informations globales du joueur -->
        <%- include('player/globalInformations.ejs', {
            PlayerStats:PlayerStats
        }); %>



    </main>
</body>

<script src="client.js"></script>

</html>