<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>RL WebStats - Player</title>
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/table.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
</head>

<body>
    <!-- Display the header-->
    <header>
        <h1>Rocket League History</h1>
    </header>

    <main>
        <!-- Include de la sidebar -->
        <%- include('layout/sidebar.ejs') %>

        <h1>>Player</h1>


    </main>
</body>

<script src="client.js"></script>

</html>