.left-bar {
    min-width: 20%;
    max-width: 20%;
    width: 20%;
    position: relative;
    height: fit-content;
    background: #101733;
    color: white;
    height: auto;
}

.left-bar button {
    margin: auto;
    display: flex;
}