@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Rubik:400,500,700);

body {
    font-family: Rubik;
    background: linear-gradient(180deg, #036, #013);
    margin: 0;
    overflow:hidden;
    min-height: 100vh;

    
}

/* Affichage du header */
header {
    background: black;
    color: white;
    text-align: center;
    padding: 2vh 0;
    height: 5vh;
}

/* Permet de retirer tout espace pouvant être générer par le titre h1 (margin top et bottom surtout ) */
header h1 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 91vh;
}

/* Rightbar : Espace accueillant les données de la page (history ou player par exemple) */
.right-bar {
    padding-top: 2%;
    min-width: 80%;
    max-width: 80%;
    background: radial-gradient(#39389d, #0a023b);
    border: 2px solid black;
}


