
/* Longueur des colonnes */
.table_team         { width: 20%; background: black; }
.table_player       { width: 15%;}
.table_score        { width: 7%; }
.table_goal         { width: 5%; }
.table_assist       { width: 5%; }
.table_save         { width: 5%; }
.table_shot         { width: 5%; }
.table_possession   { width: 7%; }
.table_platform     {width: 5%; }

/* Redimension des images de plateforme */
.table_platform img {
    width: 30%;
    height: auto;
    object-fit: contain;
}
