<sidebar class="left-bar" id="left-sidebar-id">

    <h1>Welcome</h1>
    <h3><%= nickname %></h3>
    <p id="sidebar-time">00:00.00</p>
    <hr>

    <button onclick="window.location.href='/'">Home</button>
    <p>Home button, what else to describe ?</p>

    <hr>

    <button onclick="window.location.href='/history'">History</button>
    <p>Simply access to all your saved games in one click   </p>
    
    <hr>

    <button onclick="window.location.href='/player'">Your Profile</button>
    <p>Display statistics about your profile for the saved games</p>

</sidebar>