<sidebar class="left-bar" id="left-sidebar-id">

    <h1>Pages</h1>
    <button onclick="window.location.href='/'">Home</button>
    <button onclick="window.location.href='/history'">History</button>
    <button onclick="window.location.href='/player'">Player</button>
</sidebar>