
<div id="PlayerGlobalId" class="GlobalGroup">

    <div class="group">
        <div class="title">
            Nickname
        </div>
        <div class="datas">
            <%= PlayerDatas.nickname %>
        </div>
    </div>
</div>